.upload{
    width: 100px;
    position: relative;
    /* margin: auto; */
}
.user-icon{
    border-radius: 50%;
    border: 3px solid #eaeaea;
    padding: 5px;
}
.upload .round{
    position: absolute;
    bottom: 0;
    right: 0;
    background: #00B4FF;
    width: 40px;
    height: 40px;
    line-height: 33px;
    overflow: hidden;
    text-align: center;
    border-radius: 50%;
}

.upload .round input[type='file']{
    position: absolute;
    transform: scale(2);
    opacity: 0;
}